body {
    background-color: aliceblue;
}

.square1 {
    margin: 0px;
    position: absolute;
    background-color: #0000000f;
    height: 60%;
    width: 40%;
    border-bottom-right-radius: 150px;
    border: none;
    top: 0px;
    left: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

