body {
    background-color: aliceblue;
}

.square1 {
    margin: 0px;
    position: absolute;
    background-color: #789dd5;
    height: 60%;
    width: 40%;
    border-bottom-right-radius: 150px;
    border: none;
    top: 0px;
    left: 0px;
    box-shadow: inset 10px 10px 10px 10px
}

