body {
    background-color: aliceblue;
}

.square1 {
    margin: 0px;
    position: absolute;
    background-color: aliceblue;
    height: 60%;
    width: 40%;
    border-bottom-right-radius: 150px;
    top: 0px;
    left: 0px;
    box-shadow: 10px solid black;
}